<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Deshabilitar WebDAV -->
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>

    <!-- Habilitar PUT y DELETE -->
    <security>
      <requestFiltering>
        <verbs applyToWebDAV="false">
          <add verb="PUT" allowed="true" />
          <add verb="DELETE" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>

    <aspNetCore processPath="dotnet" arguments=".\promociones.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
  </system.webServer>
</configuration>